# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.settings/
.classpath
.project
.factorypath

# OS
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.tfplan
*tfplan*
.terraformrc
terraform.rc
